{% extends 'base.html.twig' %}
{% block body %}
   <a href="/" class="btn btn-link">Back to List of Books</a>
   <hr>
   <h2 class="page-header">{{ book.name }}</h2>
   <ul class="list-group">
      <li class="list-group-item">Name: {{ book.name }}</li>
      <li class="list-group-item">Release Date: {{ book.releaseDate | date ('d/m/Y')}}</li>
      <li class="list-group-item">Length: {{ book.length }}</li>
      <li class="list-group-item"><strong>Genre: </strong><br />
          {% for genre in book.genres %}
               {{ genre.name }}<br />
          {% endfor %}
      </li>


   </ul>
{% endblock %}
