{% extends 'base.html.twig' %}
{% block body %}
    {% if is_granted ('ROLE_USER') or is_granted ('ROLE_ADMIN') %}
        <h2 class="page-header">Books</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th>Length</th>
                    <th>Genre</th>
                    <th>User Readable</th>
                    <th>Admin Readable</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
            {% if (is_granted ('ROLE_USER') and book.userReadable) or (is_granted ('ROLE_ADMIN') and book.adminReadable) %}
                    <tr>
                        <th scope="row"><a href="/book/{{ book.name }}">{{ book.name }}</a></th>
                        <td>{{ book.releaseDate | date('d.m.Y')}}</td>
                        <td>{{ book.length }}</td>
                        <td>
                            {% for genre in book.genres %}
                                <li>{{ genre.name }}</li>
                            {% endfor %}
                        </td>
                        <td>{% if book.userReadable %}Yes{% else %}No{% endif %}</td>
                        <td>{% if book.adminReadable %}Yes{% else %}No{% endif %}</td>
                    </tr>
                {% endif %}
            </tbody>
            {% endfor %}
        </table>
    {% else %}
        <strong>Plese Login</strong>
    {% endif %}
{% endblock %}