<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Library!{% endblock %}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}"> Logout</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                    {% endif %}
            </li>
        </ul>
    </div>
</nav>

<div role="main" class="container">
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">{{ flash_message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
    {% block fos_user_content %}{% endblock %}

</div>
{% block javascripts %}{% endblock %}
</body>
</html>
